@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-pinyon: 'Pinyon Script', cursive;
}

/* ===== Animasi Fade In ===== */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

/* === Class Awal (sebelum terlihat) === */
.fade-hidden {
  opacity: 0;
}

/* === Saat Elemen Masuk Layar === */
.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
}

.fade-in-up {
  animation: fadeIn 1s ease-out forwards;
}

.typing-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: black;
  margin-left: 4px;
  animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
